@using Microsoft.AspNetCore.Http

@{
    var userName = Context.Session.GetString("Username");
}

<ul class="navbar-nav">

    @if (!string.IsNullOrEmpty(userName))
    {
        <li class="nav-item">
            <span class="nav-link text-dark">Xin chào, @userName!</span>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="User" asp-action="Logout">Đăng xuất</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="User" asp-action="Register">Đăng ký</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="User" asp-action="Login">Đăng nhập</a>
        </li>
    }
</ul>
